.corgi-tile {
  display: inline-block;

  margin: 0;

  &__card {
    display: inline-block;

    width: 300px;
    height: 260px;

    padding: 20px;

    border-radius: 10px;
  }

  &__name {
    display: block;

    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 0;

    font-size: 1em;

    text-align: left;
  }

  &__description {
    display: block;

    margin-left: 1%;

    color: lightblue;

    font-size: 0.7em;
    font-weight: lighter;

    text-align: left;
  }
}
