@import 'mixins';

.confirmation {
  @include dis-flex(space-between, center);

  &__button {
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
