@import 'bootstrap';
@import 'mixins';
@import 'variables';

.corgi-card {
  @extend .card;

  &__header {
    @extend .card-header;
    @include dis-flex(space-between, center);

    background-color: transparent;
  }

  &__image {
    @include flex-center;

    height: 10rem;
    max-height: 10rem;

    padding: 1rem;
  }

  &__body {
    @extend .card-body;
  }

  &__name {
    @extend .card-title;

    font-size: 1.25rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    padding: 0.5rem 1rem;
  }
}
