@import 'bootstrap';
@import 'mixins';
@import 'variables';

.corgi-card {
  @extend .card;

  &__header {
    @extend .card-header;
    @include dis-flex(space-between, center);

    background-color: $corgi-card-header-background-color;
  }

  &__image {
    @include flex-center;

    height: $corgi-card-image-height;
    max-height: $corgi-card-image-height;

    padding: $corgi-card-image-padding;
  }

  &__body {
    @extend .card-body;
  }

  &__name {
    @extend .card-title;

    font-size: $corgi-card-font-size;
    font-weight: $corgi-card-font-weight;

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    padding: $corgi-card-footer-padding;
  }

  &__hr {
    border: 0;
    border-bottom: $border-basic rgba(#000000, 0.125);
  }

  &--big {
    height: 100%;

    .corgi-card__image {
      height: $corgi-card-image-big-height;
      max-height: $corgi-card-image-big-height;
    }
  }
}
