@import 'variables';

.rarity {
  font-size: $rarity-font-size;
  font-weight: $rarity-font-weight;

  &--common {
    color: $text-color-rarity-common;
  }

  &--uncommon {
    color: $text-color-rarity-uncommon;
  }

  &--rare {
    color: $text-color-rarity-rare;
  }

  &--very_rare {
    color: $text-color-rarity-very-rare;
  }
}
