@import 'classes';
@import 'mixins';
@import 'variables';

.corgi-page {
  @include dis-flex(center, stretch);

  width: 100%;
  max-width: 100%;

  & > * {
    @include margin-between($corgi-page-items-gap, row);
  }

  &__card {
    max-width: $corgi-page-card-max-width;
  }

  &__additional {
    @include dis-flex-column(space-between, stretch);

    & > * {
      @include margin-between($corgi-page-items-gap, column);
    }
  }

  &__actions {
    margin-top: 1rem;

    & > * {
      @include margin-between($corgi-page-items-gap, column);
    }
  }

  &__error {
    @extend .page-title;
  }

  &--sale {
    justify-content: space-between;

    .corgi-page__content {
      @include dis-flex(space-between, stretch);

      flex: 1 1 auto;

      & > * {
        @include margin-between($corgi-page-items-gap, row);
        width: 50%;
        max-width: 50%;
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .corgi-page--sale {
    flex-direction: column;

    .corgi-page__content {
      width: 100%;

      margin-right: 0;

      & > * {
        width: 50%;
        max-width: 50%;
      }
    }

    .corgi-page__additional {
      margin-left: 0;
      margin-top: 1rem;
    }

    .corgi-page__actions {
      @include dis-flex(flex-start, center);

      & > * {
        @include margin-between($corgi-page-items-gap * 0.75, row);

        width: max-content;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .corgi-page,
  .corgi-page--sale {
    .corgi-page__content {
      flex-direction: column;
      justify-content: flex-start;

      & > * {
        @include margin-between($corgi-page-items-gap * 0.5, column);

        width: 100%;
        max-width: 100%;
      }
    }

    .corgi-page__additional {
      @include dis-flex(space-evenly, flex-start);
    }

    .corgi-page__actions {
      @include dis-flex-column(space-between, stretch);

      & > * {
        @include margin-between($corgi-page-items-gap * 0.75, column);

        width: 100%;
      }
    }
  }
}

@media all and (max-width: 685px) {
  .corgi-page {
    flex-direction: column;
    justify-content: flex-start;

    & > * {
      @include margin-between($corgi-page-items-gap * 0.5, column);
    }

    &__card {
      max-width: 100%;
    }
  }
}
