.corgi-page {
  width: 100%;
  max-width: 100%;

  padding: 0 1rem;

  &__card {
    max-width: 950px;

    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
  }

  &__actions {
    width: 30%;
  }
}

@media all and (max-width: 900px) {
  .corgi-page {
    &__actions {
      width: 35%;
    }
  }
}

@media all and (max-width: 700px) {
  .corgi-page {
    &__actions {
      width: 45%;
    }
  }
}

@media all and (max-width: 525px) {
  .corgi-page {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__actions {
      width: 100%;
    }
  }
}
