@import 'mixins';

.corgi-page {
  @include dis-flex(center, stretch);

  width: 100%;
  max-width: 100%;

  padding: 0 1rem;

  & > * {
    @include margin-between(2rem, row);
  }

  &__card {
    max-width: 30rem;
  }

  &__content {
    @include dis-flex-column(space-between, stretch);

    & > * {
      @include margin-between(1rem, column);
    }
  }

  &__actions {
    margin-top: 1rem;
  }
}

@media all and (max-width: 685px) {
  .corgi-page {
    flex-direction: column;
    justify-content: flex-start;

    & > * {
      @include margin-between(0.5rem, column);
    }

    &__card {
      max-width: 100%;
    }

    &__content {
      flex-direction: row;
      justify-content: space-evenly;

      margin: 0;
    }
  }
}
