.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;

  padding: 3rem 0;

  margin: 50px auto;

  overflow: hidden;
}

.spinner {
  width: 6rem;
  height: 6rem;

  position: relative;

  margin: 0;
  padding: 0;

  border-radius: 50%;

  box-sizing: border-box;

  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;

  z-index: 0;

  &__gradient {
    position: absolute;
    top: -25%;
    left: -25%;

    width: 150%;
    height: 150%;

    border-radius: inherit;

    background: #fbb040;
    background: linear-gradient(to left top, #fff 0%, rgba(255, 187, 49, 0) 30%, #fbb040 80%);
    background: -moz-linear-gradient(right bottom, #fff 0%, rgba(255, 187, 49, 0) 30%, #fbb040 80%);
    background: -webkit-linear-gradient(right bottom, #fff 0%, rgba(255, 187, 49, 0) 30%, #fbb040 80%);
    background: -o-linear-gradient(right bottom, #fff 0%, rgba(255, 187, 49, 0) 30%, #fbb040 80%);
    background: -ms-linear-gradient(right bottom, #fff 0%, rgba(255, 187, 49, 0) 30%, #fbb040 80%);

    z-index: -1;

    // Use ::after to trim unnecessary part of gradient
    &::after {
      content: '';

      position: absolute;

      top: 0%;
      left: 50%;

      width: 50%;
      height: 50%;

      background-color: white;
    }
  }

  &__background {
    width: 100%;
    height: 100%;

    border-radius: inherit;

    background-color: white;
  }

  &__corgi {
    position: absolute;
    // pixel perfect positioning to remove gaps
    top: -29%;
    left: 50%;

    width: 75%;
    height: 75%;

    margin: 0;

    transform: translateX(-50%);
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
