.spinner {
  width: 15em;
  height: 15em;

  position: relative;

  margin: 50px auto;

  border-radius: 50%;

  background: #fbb040;
  background: -moz-linear-gradient(left, #fbb040 10%, rgba(255, 187, 49, 0) 42%);
  background: -webkit-linear-gradient(left, #fbb040 10%, rgba(255, 187, 49, 0) 42%);
  background: -o-linear-gradient(left, #fbb040 10%, rgba(255, 187, 49, 0) 42%);
  background: -ms-linear-gradient(left, #fbb040 10%, rgba(255, 187, 49, 0) 42%);
  background: linear-gradient(to right, #fbb040 10%, rgba(255, 187, 49, 0) 42%);

  font-size: 10px;

  text-indent: -9999em;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}

.spinner:before {
  width: 50%;
  height: 50%;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 100% 0 0 0;

  background: #fbb040;

  content: '';
}

.spinner:after {
  width: 75%;
  height: 75%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: auto;

  border-radius: 50%;

  background: url('../../../assets/images/corgi-circle.png') no-repeat; /*#f7fffb*/

  content: '';
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
