.poster {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 1100px;

  margin: auto;

  &__background {
    display: grid;
    grid-template-areas: 'text image';
    grid-column-gap: 2%;

    margin: 2% auto;
    padding: 2%;

    border-radius: 10px;

    background: rgba(251, 176, 64, 0.5);

    justify-items: center;
    align-items: center;
  }

  &__text {
    grid-area: text;

    margin-top: 1%;
    margin-left: 3%;

    text-align: left;
  }

  .text1 {
    color: #24272a;

    font-weight: 600;
    font-size: 2em;

    letter-spacing: 0;
    line-height: 90%;
  }

  .text2 {
    color: #24272a;

    font-size: 1em;
    font-weight: 100;

    letter-spacing: 0;
  }

  &__image {
    grid-area: image;

    width: 100%;

    margin-top: -10%;
  }
}

.show {
  border-radius: 5px;
  border: 2px solid #fbb040;
  background-color: #fff;
  padding: 5px 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media all and (max-width: 1000px) {
  .wrapper {
    width: 70%;
  }

  .backup {
    display: grid;
    grid-template-areas:
      'text'
      'image';
  }

  .imagePoster {
    margin-top: 2%;
    grid-area: image;
  }
}

@media all and (max-width: 540px) {
  .wrapper {
    width: 90%;
  }

  .backup {
    display: grid;
    grid-template-areas:
      'text'
      'image';
  }

  .imagePoster {
    margin-top: 2%;
    grid-area: image;
  }
}
