.poster {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 1100px;

  margin: auto;

  &__background {
    display: grid;
    grid-template-areas: 'text image';
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2%;

    margin: 2% auto;

    padding: 1.5rem;

    border-radius: 10px;

    background: rgba(251, 176, 64, 0.5);

    justify-items: center;
    align-items: center;
  }

  &__description {
    grid-area: text;

    width: 100%;

    box-sizing: border-box;

    text-align: left;
  }

  &__text {
    margin: 1rem 0;
    padding: 0;

    color: #24272a;

    font-weight: 600;
    font-size: 2em;

    letter-spacing: 0;

    word-break: keep-all;
    word-wrap: normal;

    &--small {
      font-size: 1em;
      font-weight: 100;
    }
  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    grid-area: image;

    width: 100%;

    margin-top: -10%;
  }

  &__corgi {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .poster {
    &__background {
      display: grid;
      grid-template-areas:
        'image'
        'text';

      grid-template-columns: none;
      grid-template-rows: 2fr 1fr;
    }

    &__text {
      text-align: center;
    }
  }
}
