@import 'mixins';

.generation {
  max-width: 1100px;
  width: 96%;
  text-align: center;
  margin: auto;

  &__title {
    font-weight: 600;
  }

  &__field {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__area {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 1rem 0;

    &:first-child {
      width: 40%;

      padding-right: 0.5rem;
    }

    &:last-child {
      width: 60%;

      padding-left: 0.5rem;
    }
  }

  &__footer {
    @include flex-center;

    width: 100%;
  }

  &__description {
    font-size: 0.7rem;
  }
}

@media all and (max-width: 900px) {
}

@media all and (max-width: 765px) {
  .generation__field {
    flex-direction: column;
  }

  .generation__footer {
    flex-direction: column-reverse;
  }

  .generation__area {
    &:first-child,
    &:last-child {
      width: 100%;
    }
  }
}
