// basic colors

$color-main: #fbb040;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #4caf50;
$color-blue: #1976d2;
$color-purple: #7b1fa2;
$color-brown: #a97c50;
$color-red: #dc3545;

$color-gray: #bdbdbd;
$color-gray-light: #f8f8f8;
$color-gray-dark: #757575;

$text-color-main: $color-black;
$text-color-dark: #24272a;
$text-color-gray: #999999;
$text-color-gray-dark: #6c757d;
$text-color-blue: #0072ce;

$text-color-rarity-common: $color-gray-dark;
$text-color-rarity-uncommon: $color-green;
$text-color-rarity-rare: $color-blue;
$text-color-rarity-very-rare: $color-purple;

// component colors

$button-text-color: $color-white;
$button-text-color-disabled: $color-gray-dark;

$button-background-color: $color-main;
$button-background-color-hover: darken($color-main, 5%);
$button-background-color-disabled: $color-gray;

$dropdown-item-background-color: $color-white;
$dropdown-item-background-color-hover: $color-gray-light;

// component sizes

$minting-link-size: 2.5rem;
$minting-link-size-big: 4rem;

$colorpicker-size: 3rem;

// margins and paddings

$padding-page: 0 5%;

$padding-button-square: 0.25rem;
$padding-button: $padding-button-square 1.5rem;

$padding-infotile: $padding-button;

$padding-dropdown-item-tight: 0.25rem;
$padding-dropdown-item-semi-tight: $padding-dropdown-item-tight $padding-dropdown-item-tight * 3;
$padding-dropdown-item: $padding-dropdown-item-tight 1.5rem;

// gaps

// borders

$border-basic-width: 1px;
$border-basic: $border-basic-width solid;
$border-basic-main: $border-basic $color-main;
$border-basic-black: $border-basic $color-black;
$border-basic-gray: $border-basic $color-gray;

$border-radius-basic: 2px;
$border-radius-big: $border-radius-basic * 2;

$border-radius-dropdown-title: $border-radius-basic $border-radius-basic 0 0;
$border-radius-dropdown-list: 0 0 $border-radius-basic $border-radius-basic;

// shadows

// fonts

// transition

$transition-basic: 0.2s;

$transition-basic-ease-out: $transition-basic ease-out;

// filters

$near-logo-filter: invert(44%) sepia(36%) saturate(0%) hue-rotate(166deg) brightness(124%) contrast(118%);
