@import 'variables';

.button {
  margin: auto;
  padding: $padding-button;

  border-radius: $border-radius-basic;

  background-color: #fbb040;
  color: #fff;

  font-weight: 600;

  letter-spacing: 0;
  white-space: nowrap;

  cursor: pointer;
}

.button:disabled {
  background-color: #cfcfcf;
  color: #888888;
}

@media all and (max-width: 451px) {
  .button {
    padding: 8px 3px;

    color: #fff;
  }
}
