.inputboard {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 1%;
  text-align: left;
  width: 50%;
  margin: 1%;
}

.title {
  font-weight: 600;
  font-size: 1.5em;
  margin: 10px 0;
  display: block;
}

.inputname {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.quote {
    font-size: 0.7em;
    font-weight: thin;
    display: inline-block;
    margin-top: 20px;
}

@media all and (max-width: 765px) {
  .inputboard{
    width: 100%;
  }
}