@import 'mixins';
@import 'variables';

.minting-description {
  @include fill-parent;

  padding: $minting-form-padding;

  border-radius: $border-radius-big;

  background-color: $color-gray-light;

  &__list {
    @include dis-flex-column(space-between, stretch);

    height: 100%;

    padding-left: $minting-description-list-padding-left;

    list-style-type: disc;
  }

  &__item {
    @include margin-between($minting-description-items-gap, column);
  }

  &__text {
    text-align: justify;
  }
}
