@import 'mixins';

.header {
  @include dis-flex(space-between, center);

  padding: 1rem 0;
}

@media all and (max-width: 930px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
