@import 'mixins';
@import 'variables';

.colorpicker {
  @include dis-flex(flex-start, center);

  &__result {
    @include basicSquare($colorpicker-size);

    border: $border-basic-gray;
    border-radius: $border-radius-basic;

    cursor: pointer;
  }

  &__input {
    visibility: hidden;
  }

  &__title {
    margin: 0;
    margin-left: 1rem;

    font-weight: 600;
  }
}
