@import 'mixins';
@import 'variables';

.infotile {
  @include flex-center;

  margin: 0;
  padding: $padding-infotile;

  border: $border-basic-main;
  border-radius: $border-radius-basic;

  background-color: $color-white;

  cursor: pointer;
}
