@import 'classes';
@import 'mixins';
@import 'variables';

.history {
  width: 100%;
  max-width: 100%;

  &__title {
    @extend .page-title;
  }

  &__list {
    @include dis-flex-column(flex-start, stretch);
  }

  &__empty {
    padding-left: $bid-history-empty-padding-left;
    margin: $bid-history-empty-margin;

    font-size: $bid-history-empty-font-size;
    font-weight: $bid-history-empty-font-weight;
  }
}
