.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;

  width: 100%;
}

@media all and (max-width: 360px) {
  .showcase {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
