.corgi-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 20px;

  border-radius: 10px;

  box-sizing: border-box;

  margin: 0 auto;
  max-width: 1100px;

  &__quote {
    display: inline-block;

    max-width: 75%;

    margin-bottom: 1rem;
  }
}
