@import 'mixins';
@import 'variables';

.nav {
  @include dis-flex(space-between, center);

  padding: 0.5rem 0;

  font-size: 1em;

  &__item {
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include fill-parent;

    padding: $padding-dropdown-item;
  }
}

@media all and (max-width: 500px) {
  .nav {
    flex-wrap: wrap;

    width: 100%;

    &__item {
      margin: 0.5rem 0;

      order: 1;

      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 3;
      }

      &--expandable {
        width: 100%;
      }
    }

    &__login {
      margin: 0 auto;
    }
  }
}
