.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 1em;

  &__item {
    margin: 0 0.5rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 1200px) {
  .nav {
    font-size: 0.8em;
  }
}

@media all and (max-width: 450px) {
  .nav {
    font-size: 0.6em;
  }
}
