@import 'animations';
@import 'mixins';
@import 'variables';

.minting-animation {
  @include flex-center;
  flex-direction: column;

  width: 100%;

  padding: 4rem 0;

  border-radius: $border-radius-big;

  &__corgi {
    @include animateBounceCorgi;
  }

  &__shadow {
    @include animateStretchShadow;
  }
}
