.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  width: 100%;

  margin: 0;
  padding: 0.5rem 10%;

  box-sizing: border-box;

  &__logo {
    width: 30%;
  }
}

@media all and (max-width: 1000px) {
  .header {
    padding: 0.5rem 5%;
  }
}

@media all and (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
