@import 'mixins';
@import 'variables';

.footer {
  @include basic(6.5rem, 100%);

  @include bootstrap-row;

  @include dis-flex(space-between, center);
  flex-wrap: wrap;

  max-width: 100%;

  margin: 1rem 0 0;
  padding: $padding-page;

  background-color: $color-gray-light;

  font-family: Inter, 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;

  &__watermark {
    @include bootstrap-col(sm, 5);

    padding: 0;
  }

  &__description {
    @include bootstrap-col(sm, 3);

    padding: 0 1rem;

    color: $text-color-dark;
  }

  &__community {
    @include bootstrap-col(sm, 4);
    @include dis-flex(flex-end, center);

    padding: 0;
  }
}

@media all and (max-width: 1000px) {
  .footer {
    &__watermark {
      @include bootstrap-col-auto;

      padding: 0;
    }

    &__description {
      display: none;
    }
  }
}

@media all and (max-width: 700px) {
  .footer {
    justify-content: center;

    &__community {
      display: none;
    }
  }
}
