@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'variables';

button {
  all: unset;
  outline: none;
}

input {
  all: unset;
  padding: 5px;
}

a {
  color: #000000;

  text-decoration: none;

  &:hover {
    color: #000000;
  }
}

.App {
  @include dis-flex-column(space-between, stretch);

  font-family: 'Poppins', sans-serif;

  min-height: 100vh;
}

.page {
  padding: $padding-page;
}
