@import 'reset';

body {
  position: relative;

  min-height: calc(100vh - 80px);

  width: 100%;
  max-width: 100%;

  padding: 0;
  margin: 0;

  text-align: center;
}

button {
  all: unset;
  outline: none;
}

input {
  all: unset;
  padding: 5px;
}

a {
  color: #000000;

  text-decoration: none;

  &:hover {
    color: #000000;
  }
}

.App {
  padding: 0 5%;

  font-family: 'Poppins', sans-serif;
}
