@import 'mixins';
@import 'variables';

.auction-card {
  @extend .card;

  max-width: $auction-card-max-width;

  padding: $auction-card-padding;

  & > * {
    @include margin-between($auction-card-items-gap, column);
  }

  &__bid-field {
    @include dis-flex(space-between, center);

    & > * {
      @include margin-between($auction-card-bid-field-items-gap, row);

      width: 50%;
    }
  }

  &__submit > * {
    width: 100%;
  }

  &__existed-bid {
    @include dis-flex(flex-start, center);
    flex-wrap: wrap;
  }

  &__near-icon {
    @include basicSquare($near-icon-size);
    @include flex-center;
    display: inline-flex;

    margin-left: $near-icon-auction-card-margin-left;
  }
}

@media all and (max-width: 800px) {
  .auction-card {
    max-width: 100%;
  }
}
