@import 'variables';

.quote {
  padding: 0.25rem;

  border-radius: $border-radius-basic;

  background-color: white;

  opacity: 0.7;

  &__text {
    margin: 0;

    font-size: 0.75rem;
    word-wrap: break-word;

    filter: brightness(50%);
  }

  &--big {
    padding: 0.5rem;

    .quote__text {
      font-size: 1rem;
    }
  }
}
