@import 'variables';

.input {
  position: relative;

  width: 100%;

  z-index: 10;

  &__field {
    width: 100%;

    border: $border-basic-black;
    border-radius: $border-radius-basic;

    background-color: #ffffff;

    transition: box-shadow $transition-basic-ease-out;

    box-sizing: border-box;

    cursor: text;

    z-index: 1;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;

    width: max-content;
    max-width: 25rem;

    padding: 0.5rem;
    margin: 0;

    border: $border-basic-gray;
    border-radius: $border-radius-basic;

    background-color: $color-white;
    color: $color-red;

    opacity: 0;

    word-break: keep-all;

    transition: $transition-basic-ease-out;

    transform: translateY(-0.5rem) scale(0);
    transform-origin: 0 0;

    z-index: -1;
  }

  &--show-error {
    .input__field {
      box-shadow: inset 0 0 0.25rem 1px $color-red;

      transition: box-shadow $transition-basic-ease-out;
    }

    .input__error {
      opacity: 1;

      transform: translateY(0) scale(1);
    }
  }
}
