.dropdown {
  position: relative;

  &__content {
    display: none;

    width: 100%;

    position: absolute;

    border-radius: 0 0 5px 5px;

    background-color: #fdfcfc;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    z-index: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 2px;

    text-align: center;

    box-sizing: border-box;
  }

  &__item {
    display: block;

    padding: auto;
    margin: 2% auto;

    color: #01c9fd;

    text-decoration: none;

    cursor: alias;

    &.active {
      background: #dddddd;
    }
  }

  &--opened {
    .dropdown__content {
      display: block;
    }
  }
}
