@import 'mixins';
@import 'variables';

.dropdown {
  position: relative;

  text-align: center;

  z-index: 1;

  &__title,
  &__list {
    border: $border-basic-main;
  }

  &__title {
    @include flex-center;

    width: 100%;

    padding: $padding-dropdown-item;

    border-radius: $border-radius-basic;

    background-color: $dropdown-item-background-color;

    box-sizing: border-box;

    cursor: pointer;

    &:hover {
      background-color: $dropdown-item-background-color-hover;
    }
  }

  &__list {
    @include dis-flex-column(flex-start, stretch);
    @include clear-mar-pad;
    @include absolute-top-left(100%, 0);

    width: 100%;

    border: $border-basic-main;
    border-top: 0;
    border-radius: $border-radius-dropdown-list;

    background-color: $color-white;

    transition: $transition-basic-ease-out;

    overflow-x: v;
    overflow-y: hidden;

    transform: scaleY(0);
    transform-origin: 0 0;
  }

  &__item {
    @include flex-center;
    @include clear-mar-pad;

    width: 100%;

    background-color: $dropdown-item-background-color;

    transition: $transition-basic;

    word-break: break-all;
    cursor: pointer;

    &:hover {
      background-color: $dropdown-item-background-color-hover;
    }
  }

  &--opened {
    .dropdown__title {
      border-radius: $border-radius-dropdown-title;
    }

    .dropdown__list {
      transform: scaleY(1);
    }
  }
}
