.egg {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  z-index: 10;

  &__svg {
    margin: 0;
  }

  &__shadow {
    width: 147px;
  }

  &--shadow {
    .egg__svg {
      margin-bottom: 10px;
    }
  }
}
